@import url(./fonts.css);

:root {
    --btnBg: #B4436C;
    --btnHover: #FFFFFF;
    --BodyBg: #3E8989;
    --title: #3E8989;
    --linkHover: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: transparent;
}

body {
    font-family: 'Rubik';
}

.title {
    color: #3E8989;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.container {
    max-width: 1142px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__nav {
    background: var(--BodyBg);
}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    column-gap: 28px;
}

.header__link {
    color: #FFF;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-transform: capitalize;
    display: block;
    padding: 36px 2px;
    transition: 500ms linear;
    position: relative;
}

.header__link::after {
    content: "";
    display: block;
    border-radius: 5px;
    background: var(--linkHover);
    width: 100%;
    height: 3px;
    position: absolute;
    left: 50%;
    width: 0;
    transition: 500ms linear;
    margin-top: 5px;
}

.header__link:hover::after {
    left: 0;
    width: 100%;
}

.header__form {
    display: flex;
}

.header__src {
    border-radius: 20px 0px 0px 20px;
    background: var(--linkHover);
    max-width: 216px;
    width: 100%;
    padding: 8px 0px 8px 20px;
}

.header__src-btn {
    border-radius: 0px 20px 20px 0px;
    background: #295E5E;
    max-width: 74px;
    width: 100%;
    color: var(--linkHover);
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}

.banner__img {
    width: 100%;
}

.banner__btn {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background: var(--btnBg);
    color: var(--linkHover);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

.banner__btn:hover {
    background: var(--btnHover);
    color: var(--btnBg);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
}

.banner {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner__img {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.banner__title {
    color: var(--linkHover);
    font-family: 'Rubik';
    font-size: 80px;
    font-weight: 600;
    line-height: 100%;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.banner__desc {
    color: var(--linkHover);
    font-family: 'Rubik';
    font-size: 40px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 50px;
}

.about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 97px;
}

.about__title {
    margin-bottom: 50px;
}

.about__cards {
    display: flex;
}

.about__img {
    margin-right: 20px;
    object-fit: cover;
    height: 100%;
    max-width: 545px;
    width: 100%;

}

.about__text {
    max-width: 545px;
    width: 100%;
    margin-bottom: 20px;
    color: #000;
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.about__text:nth-child(2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.about__desc {
    padding-top: 9px;
}

.catolog__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.catalog__title {
    margin-bottom: 53px;
    text-align: center;
}

.catalog__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.catalog__item {
    background: #EFEFEF;
    width: 263px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.catalog__img {
    object-fit: cover;
    max-width: 198px;
    width: 260px;

}

.catalog__card-name {
    margin-top: 32px;
    color: #000;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    transition: 500ms linear;
}

.catalog__card-name:hover {
    color: var(--btnBg);
}

.contacts__item {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contacts__title {
    margin-top: 100px;
}

.contacts__desc {
    color: #000;
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    max-width: 555px;
    width: 100%;
}

.contacts__number {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer {
    background: var(--BodyBg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 15px;
    row-gap: 59px;
    margin-top: 104px;
}

.footer__item {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.footer__link {
    color: var(--linkHover);
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
}

.footer__desc {
    color: var(--linkHover);
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}